ENVIRONMENT=DEVELOPMENT

PORT_DEVELOPMENT=3000
PORT_PRODUCTION=3000

PAYSTACK_SECRET_KEY_DEVELOPMENT=
PAYSTACK_SECRET_KEY_PRODUCTION=

PAYSTACK_PUBLIC_KEY_DEVELOPMENT=
PAYSTACK_PUBLIC_KEY_PRODUCTION=
